.search-bar {
  display: flex;
  padding: 0 10px 10px 40px;
}

.search-box {
  margin-left: 20px;
  width: 300px;
  height: 30px;
  padding-left: 20px;
}

.search-button {
  margin-left: 5px;
  border-radius: 5px;
}
.search-button:hover {
  background-color: #f5f5f5;
}
